@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    .text-center {
    }

    
</style>


<body style="background-color: #FCD299 ">
    <div class="text-center">
        <h1 class="display-4">Disaster Alleviation Foundation</h1>
        

    </div>
</body>