@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    .text-center {
    }

    
</style>


<body style="background-color: #FCD299 ">
    <div class="text-center">
        <h1 class="display-4" style="color:white">Disaster Alleviation Foundation</h1>

        <h3 class="display-6" style="color:white">Welcome</h3>
        <br />
        <h3 class="display-6" style="color:white">Please use the above links to navigate throught the page</h3>
        <br />
        <br />
        <h3 class="display-6" style="color:white">If you wish to contribute either money or goods as a company please contact us at: 0123 456 7890</h3>
        


    </div>
</body>