@page
@model APPR6312_POE_Part_1.Pages.Admin.Admin_ChoiceModel
@{
}

    <div class="choice">

    <a class="btn btn-primary btn-sm" href="/Admin/Index">Donations</a>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <a class="btn btn-primary btn-sm" href="/Admin/AddDisaster">Disaster</a>
    </div>

