@page
@model APPR6312_POE_Part_1.Pages.Admin.securityDAOModel
@{
}


@*𝘈𝘚𝘗.𝘕𝘌𝘛 𝘔𝘝𝘊 𝘊𝘳𝘦𝘢𝘵𝘦 𝘢𝘯 𝘢𝘶𝘵𝘩𝘦𝘯𝘵𝘪𝘤𝘢𝘵𝘪𝘰𝘯 𝘴𝘦𝘳𝘷𝘪𝘤𝘦 𝘧𝘰𝘳 𝘢 𝘭𝘰𝘨𝘪𝘯 𝘧𝘰𝘳𝘮 - 𝘚𝘩𝘢𝘥 𝘚𝘭𝘶𝘪𝘵𝘦𝘳. 2020 YouTube video, added by Programming Professor
[Online]. Available at: https://www.youtube.com/watch?v=4gsod2fmg5Q [Accessed 14 September 2022].*@

<body style="background-color: purple">
<h2>Admin Login</h2>

<form action="" method="POST" style="background-color: #CBC3E3">


    <div class="container">
        <label for="a_Email"><b>Email</b></label>
        <input type="text" placeholder="Enter Admin Email" name="a_Email" required>
    </div>

    <div class="container">
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="a_Pass" required>
    </div>

    <a class="btn btn-primary btn-sm" href="/Admin/Admin Choice">Login in</a>
</form>
</body>